<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.myproject.join.mapper.JoinMapper">
	
		<select id="idCheck" parameterType="String" resultType="String">
			SELECT COUNT(*) AS CNT FROM USER_STATUS WHERE ID = #{id}
		</select>
		
		<insert id="join" parameterType="JoinVO">
			INSERT INTO(ID, PWD, EMAIL, IS_LOCK, PWD_MISS)
			VALUES(#{id}, #{pwd}, #{email}, 'N', '0')
		</insert>
	
	</mapper>